*{
    margin: 0;
    padding: 0;
    color: white;
}

#bigcontainer{
    height: 100vh;
    width: 100vw;
    background-image: url(prob1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;

}

#container{
    background-color: rgb(13, 13, 80);
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: safe;
    /* align-items: center; */
    border-radius: 15px;

}

#navbar{
    padding: 10px;
    
    font-family:cursive;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: larger;
    #con{
        color: magenta;
    }
}

#contentbox{
    /* width: 100%; */
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 10px; */
    display: flex;
    justify-content: space-around;
    padding: 5%;

}

#leftsect{
    width: 50%;
}
#t1{
    color: magenta;
    font-size:2.5rem;
}
#t2{
    font-size:x-large;

}

#rightsect{
    width: 30%;
    margin-left: 150px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: right;
    align-items: c;
    /* display: grid;
    grid-template-rows: repeat(3); */
     #contact{
        width: 30%;
        font-size: xx-large;
        font-weight: bolder;
        color: magenta;
        font-family: cursive;
     }
     #address{
       font-size: larger;
       padding-bottom: 30%;
     }
     #handles{
        font-size: x-large;
        p{
            color: magenta;
            font-family: cursive;
            font-weight: bold;
        }
        #icons{
            display: flex;
            img{
                height: 30px;
                width: 30px;
                margin:5px 8px 60px 4px;
            }
        }
     }




}

#userdetails {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 10px;
    height: 80px;
    input{
        border-radius: 10px;
        height: 100%;
        margin:0px 0px 5px 0px;

        padding-left: 5px;
        color: white;
        background-color: rgba(178, 157, 197, 0.438);
       
    }
   
}
#message{
    display: flex;
    margin: 5% 5% 5% 5%;
    border-radius: 5px;
    /* padding-left: 20%; */
    height: 100px;
    width: 100%;
    input{
        width: 90%;
        font-size: large;
        border-radius: 8px;
        padding-bottom: 50px;
        background-color:  rgba(178, 157, 197, 0.438);

    }
}

button{
    width: 100px;
    height: 40px;
    margin-left: 5%;
    background-color: magenta;
    border-radius: 8px;
}